
  body{background-color: #A8E890;}
  img{height:250px}
  hr{
    border-style: none;
  border-top-style:dotted;
  border-color: grey;
  border-width: 7px;
width: 6%;}
h1{color: #F0FF42;}
h3{color: #2146C7;}
h2{color: #F0FF42;}
